.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 93px;
    padding-left: 0px;
  }
  .site-nav__item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }

  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $black-text;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    position: relative;
    transition: color $timing-function;
    &:hover,
    &:focus,
    &:active {
      color: $blue-text;
    }
  }

  .site-nav__link--current {
    color: $blue-text;
    font-size: 14px;
    text-decoration: none;
  }
  .site-nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $blue-text;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity $timing-function;
  }
  .site-nav__link:hover::after {
    opacity: 1;
  }
  .site-nav__link:focus::after {
    opacity: 1;
  }
  .site-nav__link--current::after {
    opacity: 1;
  }

  .contact {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .contact__email {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $gray-text;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 0px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color $timing-function;
    &:focus {
      color: $blue-text;
    }
    &:hover {
      color: $blue-text;
    }
  }
  .contact__item:last-child {
    margin-left: 50px;
  }
  .contact__item:first-child {
    margin: 0 auto;
  }

  .contact__icon {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.page-header {
  border-bottom: 1px solid $border-header;
}
