.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  text-align: center;
  color: $black-text;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  margin: 50px -15px 0;
  flex-wrap: wrap;
  padding: 0px;
}

.clients__item {
  height: 90px;
  width: 170px;
  display: flex;
  border-radius: 4px;
  height: 90px;
  width: 170px;
  margin: 0px 15px;
  justify-content: center;
}
.clients__svg {
  fill: currentColor;
}

.clients__link {
  color: $client-list;
  display: flex;
  border: 1px solid $client-list;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: $timing-function;
  &:hover {
    color: $blue-text;
    border-color: $blue-text;
  }
}

.container-icon {
  display: flex;
  align-items: baseline;
}
