.hero {
  background-color: $background;
  padding: 200px 0;
  background-image: linear-gradient(to right, $main-gradient, $main-gradient),
    url("../IMG/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  .hero__title {
    text-align: center;
    margin: 0 auto;
    color: $white-text;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    align-items: center;
  }
}
