.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}

.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $booton;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.features__svg {
  width: 65.32px;
  height: 70px;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: $black-text;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__about {
  margin-top: 10px;
  margin-bottom: 0px;
  color: $gray-text;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
