.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-bottom: 94px;
  .portfolio__item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow $timing-function;
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .portfolio__poster {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }

  .portfolio__card {
    position: relative;
    overflow: hidden;
  }
  .portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    color: $white-text;
    padding: 63px 24px;
    line-height: 1.55;
    font-size: 18px;
    bottom: 0px;
    background-color: $blue-text;
    transition: transform $timing-function;
  }

  .portfolio__item:hover .portfolio__overlay {
    transform: translateY(0);
    cursor: pointer;
  }
  .box-portfolio__item:focus .portfolio__overlay {
    transform: translateY(0);
  }

  .portfolio__item {
    border: 1px solid $border;
  }

  .portfolio__text--overlay {
    margin: 0px;
  }

  .portfolio__name {
    margin: 0px;
    margin-bottom: 4px;
    color: $black-text;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-decoration: none;
  }

  .portfolio__about {
    margin: 0px;
    color: $gray-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
  }
}
.visually-hidden__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
