.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and(min-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
  @media screen and(min-width:1200px) {
    width: 1200px;
  }
}

img {
  display: block;
}
footer {
  margin: auto;
  background-color: $footer;
  padding-top: 60px;
  padding-bottom: 60px;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.font {
  font-family: $Roboto-font;
}

.a {
  display: block;
}
